*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    font-family: 'Josefin Sans';
    background-color:#f2f2f2;
    

}
.tit{
    color: crimson;
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
}.tit2{
    color: crimson;
    font-size: 30px;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 30px;
}

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}


#banner{
    width: 100%;
    height: 500px;
    /*browsers viejos*/
    background: -webkit-linear-gradient(to left, hsla(302, 90%, 35%, 0.548), hsla(4, 63%, 45%, 0.548)),url(../resources/Header.jpg);
    /*mas actual*/
    background: linear-gradient(to left, hsla(302, 90%, 35%, 0.548), hsla(4, 63%, 45%, 0.548)),url(../resources/Header.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}
nav > a{
    color: antiquewhite;
    font-weight: 300;
    text-decoration: none;
    margin-right: 12px;
    font-size: 25px;
    

}
nav > a:hover{ 
    color: blueviolet;
    text-decoration: underline;
}

header .header-text{
    display: flex;
    height: 420px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.header-text h1{
    font-size: 80px;
    color: beige;
    margin-bottom: 60px;
}
.header-text h2{
    font-size: 40px;
    color: beige;
    font-style: oblique;
    margin-bottom: 80px;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.contenedor-about-us{
    display: flex;
    justify-content: space-evenly;
}
.img-about-us{
    width: 40%;
}
.contenido-textos{
    width: 45%;
}
.contenido-textos h3{
    margin-bottom: 15px;
}
.contenido-textos h3 span{
    background-color: hsla(4, 63%, 45%, 0.548) ;
    color: #f2f2f2;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 40px;
    height: 40px;
    padding: 3px;
    margin-right: 8px;
    box-shadow: 0 0 6px 0 rgb(0, 0, 0, .5);
}
.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 580;
    text-align: justify;
}

.cont-prod{
    background-color: #f2f2f2;
}

.cont-prod2{
    background-color: #f2f2f2;
}
.galeria-prod{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.imagen-prod{
    width: 24%;
    height: 220px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0,0,0,.5);
}
.imagen-prod > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(302, 78%, 20%, 0.548);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hover-galeria img{
    width: 60px;
    
}
.hover-galeria p{
    color: #f2f2f2;
}
.imagen-prod:hover .hover-galeria{
    transform: scale(1);
}

/*footer*/

footer{
    background-color: #424242;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 85%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 55px;
    
}
.cont-foo{
   text-align: center;
}
.cont-foo h4{
    color: #fff;
    border-bottom:  2px solid #af6666;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.cont-foo p{
    color: #ccc;
}
.cont-foo img{
    height: 50px;
    width: 50px;
}
.cont-foo-advice{
    font-size: small;
    text-align: center;
    border-bottom: .5px solid #ccc;
}
.titulo-final{
    text-align: center;
    padding-top: 10px;
}
/*  
#container{
    align-content: center;
    align-items: center;
    text-align: center;
    background-color:beige;
    max-width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}*/

#beerCarousel{
    background: linear-gradient(to right, hsla(302, 73%, 70%, 0.548), hsla(25, 82%, 59%, 0.548));    width: 65%;
    max-width: 70%;
    max-height: 450px;
    border-radius: 12%;
    font-size: 120%;
    position: relative;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    
}
.carousel-item{
    cursor: pointer;
    align-items: center;
}
.carousel-item img{
    align-items: flex-start;
    width: 320px;
    height: 320px;
}
.carousel-item h4{
    text-align: center;
    color: #424242;
}
.carousel-item p{
    text-align: center;
    color: #424242;
}

#carrusel1,#carrusel2,#carrusel3,#carrusel4{
    
    margin-bottom: 8%;
    max-width: 60%;
    max-height: 400px;
    
}


/*carrito*/

#boton-carrito {
    border: none;
    color: #af6666;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
    transition: all .3s;
}
#boton-carrito:hover {
    cursor: pointer;
    color: white;
    background-color:blueviolet ;
}
#boton-carrito:focus {
    outline: none;
}

.boton-agregar {
    background-color: rgb(117, 36, 193);
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 5px;
    border: none;
}
.boton-agregar:hover {
    cursor: pointer;
}
.boton-agregar:focus {
    outline: none;
}

.elcarro{
    align-items: center;

}
.modal-contenedor {
    position: fixed;
    top: 0;
    width: 80%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    z-index: 2;
}

.modal-active {
    opacity: 1;
    visibility: visible;
    z-index: 2;
}

.modal-carrito {
    border-radius: 1%;
    position: relative;
    background-color: #fff;
    min-width: 220px;
    max-width: 600px;
    padding: 10px;
    margin-top: -100%;
    transition: all .5s;
    z-index: 2;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .8);
}

.modal-active .modal-carrito {
    margin-top: 0;
    z-index: 2;
}

.modal-carrito h3 {
    color: blueviolet;
    padding-bottom: 5px;
    z-index: 2;
}
.modal-carrito #carritoCerrar {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: crimson;
    border: none;
    background-color:#fff;
    z-index: 2;
}
.modal-carrito #carritoCerrar:hover {
    cursor: pointer;
    z-index: 2;
}
.modal-carrito #carritoCerrar:focus {
    outline: none;
    z-index: 2;
}
.modal-carrito .precioProducto {
    padding-top: 10px;
     z-index: 2;    
}

.productoEnCarrito {
    border-left: 5px solid lightblue;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}
.productoEnCarrito:hover {
    border-left: 5px solid blueviolet;
}

.boton-eliminar {
    background-color: #fff;
    color: red;
    border: none;
    font-size: 20px;
}

.boton-eliminar:hover {
    cursor: pointer;
}
.boton-eliminar:focus {
    outline: none;
}
.vaciar-carrito{
    text-align: center;
}


/* Responsive config
desde pantallas grandes hasta 500px
*/
@media screen and (max-width:900px){
    header{
        background-position: center;
    }
    
    .contenedor-about-us{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contenido-textos{
        width: 90%;
    }
    .img-about-us {
        width: 90%;
    }
    /*Prod*/
    .imagen-prod {
        width: 40%;
    }
    .carousel-item img{
        align-items: flex-start;
        width: 220px;
        height: 220px;
    }

    #boton-carrito {
        border: none;
        color: blueviolet;
        font-size: 28px;
        background-color: rgba(0, 0, 0, 0);
        border-radius: 50%;
        transition: all .3s;
    }
    
}

@media screen and (max-width:500px) {
    .tit{
        color: crimson;
        font-size: 30px;
        text-align: center;
        margin-bottom: 30px;
    }.tit2{
        color: crimson;
        font-size: 20px;
        text-align: left;
        margin-bottom: 20px;
        margin-top: 30px;
    }
    nav{
        text-align: center;
        padding: 30px 0 0 0px;
    }
    nav >a{
        font-size: 15px;
        margin-right: 5px;
        margin-bottom: 0px;
    }
    .header-text h1{
        margin-top: 0px;
        margin-bottom: 210px;
        font-size: 35px;
    }
    .header-text h2{
        font-size: 0px;
        transform: scale(0);
    }

    .img-about-us{
        margin-bottom: 50px;
        width: 95%;
    }
    .contenido-textos{
        width: 95%;
    }
    .imagen-prod {
        width: 95%;
    }
    .contenedor-footer{
        flex-direction: column;
        border: none;
    }
    .cont-foo h4{
        border: none;

    }
    #banner{
        width: 100%;
        height: 250px;
        /*browsers viejos*/
        background: -webkit-linear-gradient(to left, hsla(302, 90%, 35%, 0.548), hsla(4, 63%, 45%, 0.548)),url(../resources/banner2.jpg);
        /*mas actual*/
        background: linear-gradient(to left, hsla(302, 90%, 35%, 0.548), hsla(4, 63%, 45%, 0.548)),url(../resources/banner2.jpg);
        background-size: 100%;
        background-attachment: fixed;
        position: relative;
    }

    

    #boton-carrito {
        border: none;
        color: rgb(33, 0, 64);
        font-size: 22px;
        background-color: rgba(0, 0, 0, 0);
        border-radius: 50%;
        transition: all .3s;
    }

}

