.btn-wpp{
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 10px;
    line-height: 50px;
    right: 10px;
    background-color: #0df053;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, .4) ;
    z-index: 50;
}

.btn-wpp:hover{
    text-decoration: none;
    color: #0df053;
    background: #fff;
}

